@import "partials/colors";
@import "partials/typography";
@import "partials/buttons";

body {
  font-family: $font;
  // min-width: 380px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@import "partials/header";

// for stratch slides image
#main-slider {
  margin-top: 19px;
}

#main-slider img {
    min-width: 100%;
}
/* ==========================================================================
    TABS
========================================================================== */
#tabs{
	margin-top: 31px;
	background: $gray;
	text-transform: uppercase;
	font-size: $nav-font-size;
	a{
		border: none;
		border-radius: 0;
		color: $text-dark;
	}
}
#job{
	.col-sm-8{
		padding-right: 60px;
	}
	h3{
		margin: 5px 0;
	}
	p:first-child{
		margin-top: 30px;
	}
	h2{
		font-size: 20px;
        font-weight: bold;
	}
	.progress, .progress-bar{
		box-shadow: none;
		height: 27px;
	}
	.progress{
		text-align: right;
		background: $white;
		border-radius: 0;
		margin-bottom: 2px;
	}
	.progress-bar{
		text-align: left;
		text-indent: 5px;
		color: $text-dark;
		background: $gray;
	}
}

/* ==========================================================================
    BLOG
========================================================================== */
a.thumbnail {
  border: none;
}

section h3 {
  display: inline-block;
  margin-top: 0;
}

#blog {
  margin-top: 53px;
}

.all {
  @import "partials/navicon";

  display: inline-block;
  position: relative;
  float: right;

  h3 {
    vertical-align: middle;
    margin: 0 0 0 12px;
    display: inline-block;
  }
}

.section-header {
  padding: 0 11px;
}
.section-content {
  margin-top: 6px;
}


@import "partials/footer";
