    <section id="blog">
      <div class="section-header">
        <h3>Popular from blog</h3>
        <div class="all">

          <div class="navicon">
            <a class="nav-toggle" href="#"><span></span></a>
          </div>

          <h3>All posts</h3>
        </div>
      </div>
      <div class="section-content">
        <div class="row">

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

        </div> <!-- end row -->
      </div> <!-- end section content -->
    </section>

    <section id="companies">
      <div class="section-header">
        <h3>Popular companies</h3>
        <div class="all">

          <div class="navicon">
            <a class="nav-toggle" href="#"><span></span></a>
          </div>

          <h3>All posts</h3>
        </div>
      </div>
      <div class="section-content">
        <div class="row">

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

        </div> <!-- end row -->
      </div> <!-- end section content -->
    </section>


    <section id="events">
      <div class="section-header">
        <h3>Popular events</h3>
        <div class="all">

          <div class="navicon">
            <a class="nav-toggle" href="#"><span></span></a>
          </div>

          <h3>All posts</h3>
        </div>
      </div>
      <div class="section-content">
        <div class="row">

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

          <div class="col-sm-3 col-xs-6">
            <a href="" class="thumbnail">
              <img src="img/section-placeholder.jpg" alt="" class="img-responsive">
            </a>
          </div>

        </div> <!-- end row -->
      </div> <!-- end section content -->
    </section>