<!-- this block must be inside container -->
<div class="row" id="review-block">
  <div class="col-sm-3" id="gray-box-section">
    <div class="gray-box"></div>

    <div class="star-rating" data-current-rating="3">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
    </div>

  </div> <!-- end col -->
  <div class="col-sm-3">
    <div id="write-review">
      <h2>Chicago4You</h2>

      <div class="socials-wrapper">
        <div class="socials">
          <a href="https://uk-ua.facebook.com/" class="facebook"></a>
          <a href="https://www.linkedin.com/" class="linkedin"></a>
          <a href="https://www.instagram.com/" class="instagram"></a>
          <a href="https://www.youtube.com/" class="youtube"></a>
          <a href="https://plus.google.com/" class="google"></a>
        </div> <!-- end socials -->
      </div> <!-- end socials-wrapper -->

      <a href="www.chicago4you.us">www.chicago4you.us</a>
      <a href="#" class="btn btn-red">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        Write Review
      </a>
    </div>
  </div> <!-- end col -->
  <div class="col-sm-6">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101969.57338240159!2d-109.0628192312387!3d36.9966931054637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x10c8d2d89aa51bbb!2sFour+Corners+Monument!5e0!3m2!1sen!2sus!4v1385680943212"
      width="100%"
      height="215"
      frameborder="0"
      style="border:0">
    </iframe>
  </div> <!-- end col -->
</div> <!-- end row -->
