<!-- this block must be inside container -->
<div class="row" id="review-block">
  <div class="col-sm-3">
    <div class="gray-box"></div>
  </div> <!-- end col -->
  <div class="col-sm-4">
    <div id="write-review">
      <h2>Chicago4You</h2>

      <a href="www.chicago4you.us">www.chicago4you.us</a>
      <a href="#" class="btn btn-default">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        Write Review
      </a>
    </div>
  </div> <!-- end col -->
  <div class="col-sm-5 bg-error">

  </div> <!-- end col -->
</div> <!-- end row -->
