extends _layout.pug


block title
  title cicago

block append css
  link(rel="stylesheet" href="css/page4.css")

block content
  .container.pos-relative
    include includes/header.html
    include includes/slider.html
    include includes/write_review_block.html
    include includes/tabs.html
    include includes/blog.html  
    include includes/footer.html
