@import "partials/colors";

$sans-serif: Arial, Helvetica, sans-serif;

$main-article-font-size: 24px;
$advertisment-font-size: 24px;
$p-primary-font-size: 16px;
$main-article-p-font-size: 14px;

$popular-posts-font-size: 14px;

p, h2 {
  font-family: $sans-serif;
}

h2 {
  font-size: $main-article-font-size;
  color: $black;
  font-weight: bold;
}

h4 {
  text-align: left;
  font-size: 18px;
  text-transform: uppercase;
  color: $text-dark;
  font-weight: bold;
  margin: 22px 0;
}

p {
  font-size: $main-article-p-font-size;
  color: $blog-p-color;
};
