// Colours partial

$red: #ff0000;
$white: #fff;
$black: #000;
$light-gray: #e7e7e7;

// Text colours
$text-dark: #191919;
// body font
$text-secondary: #3D4351;
// form placeholder text
$form-placeholder: #d8dadc;
// test in slider
$text-slider: rgba(25, 25, 25, 0.64);
// Global colours
$accent-color: #FF5274;
// global accent colour
$accent-color-hover: #D7405D;
// Typography colours
$h2-color: #3D4351;
$h3-color: #3D4351;
$h5-color: #3D4351;

// blog page
$blog-p-color: #404040;
$advertisment-bg: #a6a6a6;
$blog-post-color: #959393;
$light-blue: #b4def3;
$blue: #7abbf3;

$read-more-2c: #2d2c2c;

// footer
$footer-bg: #b3ddf2;
$footer-text-color: #8f959b;
