footer {
  margin-top: 80px;
  display: block;
  text-align: justify;

  &:after {
    content: "";
    display: inline-block;;
    height: 0;
    width: 100%;
    text-align: justify;
  }

  a {
    display: inline-block;
    font-size: $footer-font-size;
    color: $footer-text-color;
    text-transform: uppercase;
  }
}
